body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover, a:focus, a:active {
  color: white;
}

.button {
  background-color: darkslategray;
}

.title-bar {
  background-color: darkslategray
}

.idea-list {
  padding: 0 8px;
}

.submit-form {
  margin-top: 30px;
}

.idea {
  background-color: #457373;
  color: white;
  padding: 6px;
  margin-top: .6em;
}

.root-ideas {
  padding-top: .3em;
}

.root-ideas .idea {
  margin-top: .3em;
  background-color: darkslategray;
}

.idea.selected {
  background-color: darkslategray;
  outline: 1px solid #457373;
}

.idea .created {
  color: lightcyan;
  margin-top: .2em;
  font-size: .6em;
}

.idea .selection {
  padding: 6px;
}

.idea .parents .body {
  font-size: .8em;
  margin-bottom: .4em;
}

.idea .parents .body {
  background-color: #1f3333;
  border-radius: .2em;
  padding: 4px 6px;
  display: block;
}

.idea .idea-type {
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 1px;
  border: 1px solid black;
  border-radius: .2em;
  width: 5.7em;
  color: black;
  text-align: center;
  font-size: .9em;
}

.idea .body {
  display: inline;
}